%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{deps, [
    {getopt, ".*", 
      {git, "https://github.com/jcomellas/getopt.git", {tag, "v0.7.1"}}}
  ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "log"
  ]}.

{escript_incl_apps, [getopt]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
