%% -*- mode: erlang -*-
%% ex: ft=erlang ts=2 sw=2 et
{cover_enabled, true}.

{deps, [
    {ecli, ".*", 
      {git, "https://github.com/stwind/ecli.git", {branch, "develop"}}},
    {eper, ".*", 
      {git, "https://github.com/basho/eper.git", {branch, "develop"}}}
  ]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [
    %warn_missing_spec
]}.

{clean_files, [
    "test/*.beam",
    "erl_crash.dump",
    "log",
    "ectl"
  ]}.

{escript_incl_apps, [ecli, getopt, eper]}.

{xref_checks, [undefined_function_calls]}.

{xref_queries, [
    {"((XC - UC) || (XU - X - B))", []},
    {"(L - LU)", []}
  ]}.
